{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Coucou</h1>
        <div class="buton">bouton</div>
    </div>
</div>

{% endblock %}
